<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To Do List</title>
  <link rel="stylesheet" href="css/styles.css">
  
  

</head>

<body>
  <nav class="navbar">
    <div class="navbar-brand">
      <a href="/">TODOLIST</a>
    </div>
    <ul class="navbar-links">
      <li><a href="/">Today</a></li>
      <li><a href="/home">Home</a></li>
      <li><a href="/work">Work</a></li>
    </ul>
  </nav>

  
</body>


